* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: myFirstFont;
  src: url(../font/Raleway-v4013-Black.otf); }
.br {
  border: 1px solid #333; }

.clear {
  clear: both; }

.text-top, #container #header .top-menu #top-menu-left ul li a, #container #header .top-menu #top-menu-right ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #727272;
  padding: 5px 10px; }

.ul-top, #container #header .top-menu #top-menu-left ul li, #container #header .top-menu #top-menu-right ul li, #container #header .main-menu .menu-main ul li, #container #main .main-tap ul li {
  list-style: none;
  float: left; }

.icon-top, #container #header .top-menu .icon-gach {
  background: url("../image/gach.jpg") no-repeat center;
  padding: 5px;
  margin-left: 5px; }

#container {
  width: 100%;
  height: auto; }
  #container #header {
    width: 100%;
    height: auto; }
    #container #header .top-menu {
      width: 970px;
      height: 100px;
      margin: 0px auto; }
      #container #header .top-menu #top-menu-left {
        width: 34%;
        float: left;
        margin-top: 40px; }
      #container #header .top-menu .icon-shopping {
        background: url("../image/icon-shopping.png") no-repeat center;
        padding: 10px 30px;
        margin-top: -10px; }
      #container #header .top-menu #top-menu-center {
        width: 30%;
        float: left;
        margin: 5px 5px; }
        #container #header .top-menu #top-menu-center .top-menu-logo {
          margin-top: 10px;
          float: left; }
        #container #header .top-menu #top-menu-center .top-menu-text {
          float: left;
          text-align: center;
          line-height: 80px;
          margin-left: 10px;
          font-size: 30px; }
      #container #header .top-menu #top-menu-right {
        width: 34%;
        float: left;
        margin-top: 40px; }
        #container #header .top-menu #top-menu-right .icon-up {
          background: url("../image/icon-up.jpg") no-repeat center;
          padding: 5px;
          margin-left: 2px; }
    #container #header .main-menu {
      width: 100%;
      border-bottom: 5px solid #e1e4d9; }
      #container #header .main-menu .menu-main {
        width: 970px;
        margin: 0px auto; }
        #container #header .main-menu .menu-main ul {
          width: 70%;
          float: left; }
          #container #header .main-menu .menu-main ul li a {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 20px 10px;
            color: #5d4343;
            text-decoration: none;
            display: block;
            font-family: myFirstFont; }
      #container #header .main-menu .search {
        width: 29%;
        float: left;
        position: relative; }
        #container #header .main-menu .search input {
          padding: 13px 0px;
          margin-top: 5px;
          border-radius: 20px;
          width: 70%;
          text-align: center; }
        #container #header .main-menu .search .icon-search {
          background: url("../image/icon-search.png") no-repeat center;
          position: absolute;
          left: 10px;
          padding: 26px 15px; }
  #container #sidebar {
    width: 100%;
    height: 400px;
    border-bottom: 5px solid #ffbb00;
    background: #f3f4ef; }
    #container #sidebar .icon-left {
      float: left;
      height: 400px;
      text-align: right;
      background: url("../image/icon-right.jpg") no-repeat right;
      width: 180px; }
    #container #sidebar .sidebar-nd {
      width: 970px;
      height: 400px;
      float: left;
      padding-top: 30px; }
      #container #sidebar .sidebar-nd p {
        padding: 10px 20px; }
      #container #sidebar .sidebar-nd .p1 {
        font-size: 60px;
        color: #70543f;
        font-weight: bold; }
      #container #sidebar .sidebar-nd .p2 {
        font-size: 30px;
        color: #70543f; }
      #container #sidebar .sidebar-nd .p3 {
        color: #70543f; }
      #container #sidebar .sidebar-nd .p4 {
        font-size: 15px;
        color: #ffbb00; }
      #container #sidebar .sidebar-nd button {
        padding: 10px 15px;
        color: white;
        background: #ffbb00;
        border-radius: 20px;
        text-transform: uppercase;
        margin: 15px 20px; }
    #container #sidebar .icon-right {
      float: right;
      height: 400px;
      background: url("../image/icon-left.jpg") no-repeat left;
      width: 180px;
      text-align: center;
      margin-left: -10px; }
  #container #main {
    margin: 0px auto;
    width: 970px; }
    #container #main .main-tap ul {
      width: 60%;
      margin: 0px auto; }
      #container #main .main-tap ul li a {
        font-weight: bold;
        text-decoration: none;
        font-size: 25px;
        padding: 20px 20px;
        display: block;
        color: #666; }
    #container #main .item-main {
      text-align: center;
      width: 24%;
      float: left;
      border-right: 1px solid #ddd;
      margin-top: 5px;
      margin-bottom: 50px; }
      #container #main .item-main .img-product {
        width: 205px;
        height: 205px;
        background: #999;
        text-align: center;
        line-height: 205px;
        font-size: 20px;
        color: #666;
        margin: 0px 13px; }
      #container #main .item-main .name-product {
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px 0px; }
      #container #main .item-main .title-product {
        font-style: italic;
        font-weight: 100; }
      #container #main .item-main .price {
        font-weight: bold;
        color: #70543f; }
  #container .hr-gach {
    width: 100%;
    padding: 40px 0px;
    height: 100px;
    text-align: center; }
    #container .hr-gach hr {
      padding-bottom: 50px;
      margin-bottom: -50px;
      border-top-width: 0px;
      border-bottom-width: 2px; }
    #container .hr-gach p {
      padding: 20px 50px;
      border: 1px solid #666;
      display: inline;
      text-align: center;
      line-height: 100px;
      border-radius: 50px;
      z-index: 10px;
      background: white;
      font-size: 20px;
      text-transform: uppercase;
      color: #666; }
  #container .top-footer {
    width: 100%;
    background: #f3f4ef; }
    #container .top-footer .top-footer-nd {
      width: 970px;
      margin: 10px auto; }
      #container .top-footer .top-footer-nd .logo-footer-top {
        float: left;
        width: 14%; }
      #container .top-footer .top-footer-nd .text-footer-top {
        float: left;
        width: 50%;
        padding: 30px;
        font-size: 16px;
        color: #70543f;
        font-weight: bold; }
      #container .top-footer .top-footer-nd .search-footer-top {
        width: 28%;
        float: left;
        margin-top: 60px; }
        #container .top-footer .top-footer-nd .search-footer-top input {
          background: white;
          padding: 6px 15px;
          border-radius: 20px; }
  #container #footer {
    width: 100%; }
    #container #footer .footer-main {
      width: 970px;
      margin: 0px auto; }
      #container #footer .footer-main .item-footer {
        width: 22%;
        float: left;
        margin-right: 25px; }
        #container #footer .footer-main .item-footer h3 {
          font-weight: bold;
          text-transform: uppercase;
          color: #3f3f3f;
          border-bottom: 1px solid #666;
          padding-bottom: 10px;
          margin-bottom: 20px; }
        #container #footer .footer-main .item-footer ul li {
          list-style: none; }
          #container #footer .footer-main .item-footer ul li a {
            text-decoration: none;
            font-size: 15px;
            color: #727272;
            display: block;
            padding: 5px 10px; }
          #container #footer .footer-main .item-footer ul li i {
            background: url("../image/muiten.jpg") no-repeat center;
            padding: 10px; }
        #container #footer .footer-main .item-footer p {
          font-size: 15px;
          color: #727272;
          padding: 10px;
          margin-bottom: 10px; }
        #container #footer .footer-main .item-footer a .face {
          background: url("../image/facec.jpg") no-repeat center;
          padding: 25px; }
        #container #footer .footer-main .item-footer a .t {
          background: url("../image/t.jpg") no-repeat center;
          padding: 25px; }
        #container #footer .footer-main .item-footer a .o {
          background: url("../image/o.jpg") no-repeat center;
          padding: 25px; }
        #container #footer .footer-main .item-footer a .f {
          background: url("../image/f.png") no-repeat center;
          padding: 25px; }
  #container .bottom-footer {
    width: 100%;
    margin: 25px 0px;
    border-top: 1px solid #666; }
    #container .bottom-footer .main-bottom-footer {
      width: 970px;
      margin: 20px auto; }
      #container .bottom-footer .main-bottom-footer p {
        float: left;
        width: 40%;
        color: #727272; }
      #container .bottom-footer .main-bottom-footer .menu-footer {
        float: right;
        width: 58%;
        margin-right: 15px; }
        #container .bottom-footer .main-bottom-footer .menu-footer li {
          float: right;
          list-style: none; }
          #container .bottom-footer .main-bottom-footer .menu-footer li a {
            text-decoration: none;
            font-size: 15px;
            color: #727272;
            padding: 20px 15px;
            display: block; }

/*# sourceMappingURL=style.css.map */
